<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Notícias</title>
</head>
<body>
    <form method="post" action="/noticias/cadastrarNoticia">
        <label for="nome">Título:</label>
        <input type="text" name="titulo" id="titulo"><br>
        <label for="descricao">Descrição:</label>
        <input type="text" name="descricao" id="descricao"><br>
        <label for="data_nascimento">Data de Publicação:</label>
        <input type="date" name="data_publicacao" id="data_publicacao"><br>
        <label for="assunto">Assunto:</label>
        <input type="text" name="assunto" id="assunto"><br>
        <label for="texto_materia">Texto da Matéria:</label>
        <input type="text" name="texto" id="texto"><br>
        <label for="autor">Autor:</label>
        <input type="autor" name="autor" id="autor"><br>
        
        <input type="submit" name="Cadastrar" id="cadastrar">
    </form>
    
</body>
</html>